{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
	<div class="min-h-full">

		<header class="bg-white shadow">
			<div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
				<h1 class="text-3xl font-bold tracking-tight text-gray-900">Tableau de bord</h1>
			</div>
		</header>
		<main>
			<div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8 flex">
                <article class="mx-5">
                    <h2 class="text-xl font-bold tracking-tight text-gray-900">Informations de profil:</h2>
                        <div class="pl-2">
                            <p>Pseudo: {{ app.user.pseudo }}</p>
                            <p>Email: {{ app.user.email }}</p>
                        </div>
                </article>

                <article class="mx-5">
                    <h2 class="text-xl font-bold tracking-tight text-gray-900">Adresses:</h2>
                        {% if app.user.address %}
                            {% for address in app.user.address %}
                                <div class="pl-2">
                                    <h3>______________</h3>
                                    <p>Rue: {{ address.street }}</p>
                                    <p>Ville: {{ address.city }}</p>
                                    <p>Code postal: {{ address.zip }}</p>
                                    <form action="/dashboard/address/delete/{{ address.id }}" method="POST" onsubmit="return confirm('Êtes vous vraiment sûr ?')">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ address.id) }}">
                                        <button class="rounded-full bg-red-600 px-2.5 py-1 text-xs font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">Supprimer l'adresse</button>
                                    </form>
                                    <a href="/dashboard/edit/{{ address.id }}" class="rounded-full bg-emerald-600 px-2.5 py-1 text-xs font-semibold text-white shadow-sm hover:bg-emerald-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-emerald-600">Modifier l'adresse</a>
                            {% endfor %}
                        {% endif %}
                        <div class="pt-5">
                            <a href="/dashboard/{{app.user.id}}/address/create" class="rounded-full bg-indigo-600 px-2.5 py-1 text-xs font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Ajouter une adresse</a>
                        </div>
                </article>
            </div>
		</main>
	</div>
{% endblock %}
